.AnchorPane
{
    -fx-background-color: #dfdfdf;
}

.drops
{
    -fx-background-color: #db3b2f;
    -fx-background-radius: 80;
    -fx-border-width: 4 ;
    -fx-border-color: #1a1214;
}

.blacktext
{
    -fx-text-fill: #1e1414;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.text13
{
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 56;
}
#logout
{

    -fx-background-color: #db3b2f;
    -fx-text-fill: #1e1414;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.button
{
    -fx-background-radius: 15;
    -fx-background-color: #949494;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-padding: 0;
    -fx-border-color: #666666;
    -fx-border-width: 4;
    -fx-border-radius: 15;
}
.button:hover
{

    -fx-background-color: #747474;
    -fx-border-color: #616161;
    -fx-cursor: hand;
}
.button:pressed
{
    -fx-background-color: #949494;
    -fx-border-color: #b6b6b6;
}

.TextFiel
{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 17;
}

.TextFiel:focused
{
    -fx-background-color: #474747;
    -fx-text-fill: white;
}

#pizzacounterLabel
{
    -fx-background-color: #db3b2f;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-padding: 2;
}
.arrow
{
    -fx-background-color: #dfdfdf;
    -fx-text-fill: #666666;
    -fx-border-width: 0;
    -fx-font-size: 20;
}
.arrow:hover
{
    -fx-text-fill: #949494;
    -fx-font-size: 20;
}
.arrow:pressed
{
    -fx-text-fill: white;
}

.price
{
    -fx-background-color: #67bc42;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-padding: 5;

}
.price2
{
    -fx-font-weight: bold;
    -fx-text-fill: #67bc42;
    -fx-padding: 5;

}
.smalltext
{
    -fx-text-fill: #1e1414;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}

#settings
{
    -fx-background-color: #db3b2f;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.addbtn
{
    -fx-background-radius: 15;
    -fx-background-color: #96D442;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 0;
    -fx-border-color: #42BD72;
    -fx-border-width: 4;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}
.addbtn:hover
{

    -fx-background-color: #42BD72;
    -fx-border-color: #3B9C72;
}
.addbtn:pressed
{
    -fx-background-color: #42BD72;
    -fx-border-color: #96D442;
    -fx-text-fill: #3B9C72;
}
.removebtn
{
    -fx-background-radius: 15;
    -fx-background-color: #EB4339;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding-bottom: 20;
    -fx-border-color: #C22851;
    -fx-border-width: 4;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}
.removebtn:hover
{

    -fx-background-color: #C22851;
    -fx-border-color: #9F2851;
}
.removebtn:pressed
{
    -fx-background-color: #C22851;
    -fx-border-color: #EB4339;
    -fx-text-fill: #9F2851;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-pane {
    -fx-focus-color: transparent;
}

.check-box .box {
    -fx-background-radius: 25;
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 25;
    -fx-border-width: 2;

}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: grey;
}